<div class="popbox alertbox">
	<div class="inset">
		<div class="panel-body">
			<i class="ico ico-warning"></i>
			<span><?=this.title?></span>
		</div>
		<footer>
			<div class="btn btn-confirm"><?=this.confirmTxt?></div>
		</footer>
	</div>
</div>