<div class="popbox">
	<div class="inset">
		<header><?=this.title?></header>
		<div class="panel-body">
			<?=this.content?>
		</div>
		<footer>
			<div class="btn-group">
			</div>
		</footer>
	</div>
</div>