<div class="toast">
	<div class="inset">
		<?if(this.showLoader){?>
		<div class="icon-box">
			<div class="loader">
				<div class="line"></div>
				<div class="line"></div>
				<div class="line"></div>
				<div class="line"></div>
				<div class="line"></div>
				<div class="line"></div>
				<div class="line"></div>
				<div class="line"></div>
				<div class="line"></div>
				<div class="line"></div>
				<div class="line"></div>
				<div class="line"></div>
			</div>
		</div>
		<?}?>
		<div class="txt"><?=this.text?></div>
	</div>
</div>
