@import "global";

*{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html, body{
  height: 100%;
  font-size: 14px;
  background: #f1f1f1;
  color: #666;
  font-family: helvetica;
}

body{
}


.box{
  padding: 10px;
  .border-box;
}

.fs-lg{
  font-size: 24px;
}

.txt-warn{
  color: #f90;
}

.txt-danger{
  color: #f00;
}

.btn{
  .d-ib;
  .border-box;
  padding: 0;
  vertical-align: middle;
  &.disabled{
    background: #ccc !important;
  }
  &.btn-block{
    .d-b;
    width: 100%;
  }

  &.btn-primary{
    height: 40px;
    .border-box;
    font-size: 16px;
    background: #f90;
    color: #fff;
    border:0;
  }
  &.btn-danger{
    height: 40px;
    .border-box;
    font-size: 16px;
    background: #f00;
    color: #fff;
    border:0;
  }

  &.btn-add{
    .rect(30px);
    border-radius: 3px;
    border:1px solid #ccc;
    color: #390;
    background: #fff;
    // background: url(../images/ico-plus.png);
    background-size: cover;
    outline: none;
    vertical-align: middle;
    line-height: 28px;
  }
  &.btn-minus{
    .rect(30px);
    border-radius: 3px;
    border:1px solid #ccc;
    color: #390;
    background: #fff;
    // background: url(../images/ico-plus.png);
    background-size: cover;
    outline: none;
    vertical-align: middle;
    line-height: 28px;
  }

  &.btn-green{
    height: 40px;
    border-radius: 3px;
    background: #3c0;
    color: #fff;
    border:none;
    font-size: 14px;
    padding: 0 4px;
    &.btn-sm{
      height: 24px;
    }
  }
}


.ico{
  .d-ib;
  vertical-align: middle;
  &.ico-checkbox{
    .rect(20px);
    .d-ib;
    // background: #f90;
    border-radius: 10px;
    border:1px solid #ccc;
    &.active{
      border-color: #f90;
      background-color: #f90;
    }
  }
  &.ico-arrow{
    .rect(16px);
    background: url(../images/ico-arrow-right.png);
    background-size: cover;
  }
}

.counter{
  line-height: 30px;
  span{
    font-size: 16px;
    color: #999;
    .d-ib;
    vertical-align: middle;
  }
}


.main{
  position: absolute;
  top: 0;
  bottom: 50px;
  left: 0;
  right: 0;
  nav{
    width: 90px;
    height: 100%;
    background: #f7f7f7;
    .pull-left;
    overflow: auto;
    // .hidden;
    ul{
      li{
        line-height: 50px;
        text-align: center;
        border-left: 2px solid transparent;
        a{
          color: #666;
          text-decoration: none;
          .d-b;
        }
        &.active{
          background: #fff;
          border-left: 2px solid #33cc00;
          color: #390;
          a{
            color: #390;
          }
        }
      }
    }
  }

  .goods{
    overflow: auto;
    height: 100%;
    -webkit-overflow-scrolling : touch;
    .item-box{
      background: #fff;
      >header{
        background: #f7f7f7;
        padding: 0 10px;
        line-height: 30px;
        color: #999;
        overflow: hidden;
        a{
          .d-b;
          line-height: 30px;
        }
      }
      >footer{
        background: #f7f7f7;
        padding: 0 10px;
        line-height: 30px;
        color: #999;
        overflow: hidden;
        border-bottom:10px solid #fff;
      }
      ul{
        padding: 0 10px;
        background: #fff;
        li{
          border-bottom: 1px solid #eee;
          .border-box;
          padding: 14px 0;
          line-height: 24px;
          .clearfix;
          .rel;

          &:nth-last-child(1){
            border-bottom: 0;
          }

          .checkbox{
            width: 30px;
            .pull-left;
            &.big{
              height: 100px;
              line-height: 100px;
            }
          }

          .img-box{
            .rect(100px);
            background: #eee;
            border-radius: 3px;
            overflow: hidden;
            .pull-left;
            .mr(10px);
            box-shadow: 0 0 10px #ddd;
            img{
              .d-b;
              .rect(100px);
            }
          }
          .summary{
            .rel;
            .ml(100px);
            .top{
              height: 70px;
            }
            h2{
              font-size: 16px;
            }
            p{
              color: #999;
            }

            .price{
              font-size: 10px;
              color: #f00;
              .mr(10px);
              em{
                font-size: 24px;
              }
            }
            .spec{
              color: #999;
            }

            
          }
        }
      }
    }
  }
}


.btn.cart{
  .rect(50px);
  position: fixed;
  bottom: 10px;
  left: 10px;
  background: url(../images/ico-cart.png) center center no-repeat;
  background-size: 30px;
  background-color: #f90;
  border-radius: 25px;
  &.full{
    background: url(../images/ico-cart-full.png);
  }
}


.check-bar{
  height: 50px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #fff;
  line-height: 50px;

  .info{
    .d-b;
    vertical-align: middle;
    line-height: 50px;
    height: 50px;
    .pull-left;
  }
  button{
    height: 50px;
    background: #f90;
    color: #fff;
    border:0;
    font-size: 14px;
    width: 80px;
    text-align: center;
    padding: 10px 0;
    line-height: 30px;
    outline: none;
    display: block;
    .pull-left;
  }
}

.item-list{
  ul{
    li{
      .clearfix;
    }
  }
  .name{
    .pull-left;
    color: #333;
    font-size: 15px;
  }
  .pointer{
    .pull-right;
    color: #999;
    input[type="text"]{
      height: 24px;
      .border-box;
      border:0;
      text-align: right;
      outline: none;
    }
  }
}







.tab-bar{
  .rect(100%, 50px);
  background: #f7f7f7;
  border-top: 1px solid #e5e5e5;
  position: fixed;
  bottom: 0;
  left: 0;
  ul{
    li{
      .rel;
      width: percentage(1/3);
      .pull-left;
      text-align: center;
      &.active{
        color: #390;
      }
      .icon{
        text-align: center;
        .d-ib;
        .rel;
        .pt(6px);
        i{
          font-size: 24px;
        }

        .badge{
          .abs;
          .d-ib;
          min-width: 12px;
          right: -4px;
          top: 0;
          background: #fe4b47;
          color: #fff;
          font-size: 10px;
          line-height: 16px;
          border-radius: 8px;
          padding: 0 2px;
        }
      }
      .txt{
        text-align: center;
        font-size: 12px;
      }
    }
  }
}



label.checkbox{
  .ico{
    font-size: 20px;
    color: #999;
  }

  &.active{
    .ico{
      color:#f90;
    }
  }
}


.address-box{
  height: 60px;
  .pt(10px);
  .pb(15px);
  background: url(../images/add-border.png) bottom repeat-x #fff;
  background-size: auto 5px;
  .ico-box{
    width: 50px;
    height: 60px;
    .pull-left;
    .iconfont{
      vertical-align: middle;
      text-align: center;
      font-size: 24px;
      line-height: 60px;
    }
  }
  >.pointer-box{
    .pull-right;
    height: 60px;
    line-height: 60px;
    text-align: center;
    width: 40px;
  }
  .infos{
    top:10px;
    left: 50px;
    right: 50px;
    .abs;

  }
}

.cover{
  .hidden;
  background: rgba(0, 0, 0, 0.5);
  .rect(100%);
  position: fixed;
  top:0;
  left: 0;
}
.date-selector{
  bottom: 0;
  width: 100%;
  .abs;
  .title{
    background: #35cb9e;
    height: 40px;
    padding: 0 10px;
    button{
      color: #fff;
      height: 40px;
      font-size: 14px;
      overflow: hidden;
      background:none;
      border:0;
      &.btn.btn-cancel{
        .pull-left;
      }
      &.btn.btn-done{
        .pull-right;
      }
    }

  }

  ul{
    li{
      height: 40px;
      .border-box;
      border-bottom: 1px solid #ccc;
      background: #fff;
      padding: 4px 10px;
      h2{
        font-size: 14px;
        line-height: 18px;
      }
      p{
        font-size: 12px;
        line-height: 14px;
      }
      .handler{
        line-height: 32px;
        color: #f90;
        .hidden;
        &.active{
          .d-ib;
        }
      }
    }
  }
}


.tab{
  height: 30px;
  background: #fff;
  .pt(4px);
  ul{
    overflow: hidden;
    margin: 0 10px;
    li{
      .pull-left;
      width: percentage(1/3);
      text-align: center;
      strong{
        .d-ib;
        line-height: 27px;
        padding: 0 10px;
      }
      &.active{
        strong{
          color: #390;
          border-bottom: 3px solid #390;
        }
      }
    }
  }
}
.btn-delete{
  .d-ib;
  background: #fff;
  border-radius: 3px;
  padding: 0 20px;
}


.mg40box{
  margin: 0 40px;
}

.regist{
  background: #fff;

  .frm{
    .pt(100px);
    .frm-group{
      border-bottom: 1px solid #000;
      .mb(30px);
      .rel;
      .btn-captcha{
        .abs;
        right: 0;
        top: 0;
      }

      label{
        color: #000;
        i{
          font-size: 24px;
        }
      }
      input{
        font-size: 14px;
        padding:6px 4px;
        border: 0;
        outline: none;
      }
    }
  }
}

.empty-box{
  .mt(50%);
  text-align: center;
  i.iconfont{
    font-size: 36px;
  }
  .btn{
    border-radius: 3px;
    text-decoration: none;
    line-height: 40px;
    padding: 0 20px;
  }
}

.fixed-header{
  background: #fff;
  border-bottom: 1px solid #eee;
  line-height: 30px;
  padding: 0 10px;
}

.popmenu{
  .hidden;
  width: 100px;
  border-radius: 3px;
  border: 1px solid #ccc;
  .abs;
  bottom: 60px;
  left: 50%;
  .ml(-50px);
  background:#fff;
  .conner{
    .rect(0);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #ccc;
    .abs;
    bottom: -10px;
    left: 50%;
    .ml(-10px);
    &:after{
      content: " ";
      .d-b;
      .rect(0);
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #fff;
      .abs;
      bottom: 1px;
      left: -10px;
    }
  }
  ul{
    li{
      float: none;
      width: 100%;
      border-bottom: 1px solid #ccc;
      line-height: 30px;

      &:nth-last-child(1){
        border-bottom: 0;
      }
      a{
        text-decoration: none;
        color: #999;
      }
    }
  }
}