<div class="popbox alertbox">
	<div class="inset">
		<div class="popheader">
			<div class="ttl"><?=this.title?></div>
			<span class="btn btn-close"><i class="ico ico-close"></i></span>
		</div>
		<div class="panel-body">
			<?=this.content?>
		</div>
		<div class="popfooter">
			<div class="btn btn-confirm"><?=this.confirmTxt?></div>
		</div>
	</div>
</div>